{% extends 'dashboard/layout_dashboard.html' %}
{% block head %}
<title>Keranjang | Dashboard</title>
<link rel="stylesheet" href="static/css/dashboard_keranjang.css">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Keranjang anda</h1><br>
    <div class="col">
        <img src="static/assets/product/SKU-1.jpg" alt="">
        <div class="context">
            <h3>Mango Yuzu Raspberry</h3>
            <div class="deskripsi-produk">
                <p>
                    Teh yuzu dan raspberry hibiscus dengan potongan buah mangga das dasd sadasd 
                </p>
            </div>
            <p>Harga: Rp.{{25000}}</p>
            <p>Quantity: {{5}}</p>
            <p>Total Harga: Rp.{{125000}}</p>
            <div class="buy-now"><p>Bayar</p></div>
        </div>
    </div>
    <div class="col">
        <img src="static/assets/product/SKU-1.jpg" alt="">
        <div class="context">
            <h3>Mango Yuzu Raspberry</h3>
            <div class="deskripsi-produk">
                <p>
                    Teh yuzu dan raspberry hibiscus dengan potongan buah mangga das dasd sadasd 
                </p>
            </div>
            <p>Harga: Rp.{{25000}}</p>
            <p>Quantity: {{5}}</p>
            <p>Total Harga: Rp.{{125000}}</p>
            <div class="buy-now"><p>Bayar</p></div>
        </div>
    </div>
    <div class="col">
        <img src="static/assets/product/SKU-1.jpg" alt="">
        <div class="context">
            <h3>Mango Yuzu Raspberry</h3>
            <div class="deskripsi-produk">
                <p>
                    Teh yuzu dan raspberry hibiscus dengan potongan buah mangga das dasd sadasd 
                </p>
            </div>
            <p>Harga: Rp.{{25000}}</p>
            <p>Quantity: {{5}}</p>
            <p>Total Harga: Rp.{{125000}}</p>
            <div class="buy-now"><p>Bayar</p></div>
        </div>
    </div>
    <div class="col">
        <img src="static/assets/product/SKU-1.jpg" alt="">
        <div class="context">
            <h3>Mango Yuzu Raspberry</h3>
            <div class="deskripsi-produk">
                <p>
                    Teh yuzu dan raspberry hibiscus dengan potongan buah mangga das dasd sadasd 
                </p>
            </div>
            <p>Harga: Rp.{{25000}}</p>
            <p>Quantity: {{5}}</p>
            <p>Total Harga: Rp.{{125000}}</p>
            <div class="buy-now"><p>Bayar</p></div>
        </div>
    </div>
    <div class="buy-all">
        <p>Bayar Semua</p>
    </div>
</div>
{% endblock %}