<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/logo/simbol-kopi-kenangan.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Kopi Kenangan Shop</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg shadow-sm fixed-top " style="background-color:#dbdbdb ;">
        <div class="container">
            <a class="navbar-brand " href="/"><img src="static/assets/logo/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link mx-2" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="/login">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <div>
                </div>
            </div>
        </div>
        </div>
    </nav>
    <!-- End -->
    <section id="contact">
        <div class="contact-from-section mt-150 mb-150">
            <div class="container mt-5 mb-5">
                <div class="col-md-12 mt-5 mb-5 ">
                    <span class="section-title text-center ">Contact Us</span>
                    <div class="row">
                        <div class="col-lg-8 mb-5 mb-lg-0">
                            <div class="form-title">
                                <h2>Have you any question?</h2>
                                <p>Hubungi Kami jika ada pertanyaan</p>
                            </div>
                            <div class="contact-form">
                                <form type="POST" id="kopi-contact">
                                    <p>
                                        <input type="text" placeholder="Name" name="name" id="name">
                                        <input type="email" placeholder="Email" name="email" id="email">
                                    </p>
                                    <p>
                                        <input type="tel" placeholder="Phone" name="phone" id="phone">
                                        <input type="text" placeholder="Subject" name="subject" id="subject">
                                    </p>
                                    <p><textarea name="message" id="message" cols="30" rows="10"
                                            placeholder="Message"></textarea></p>
                                    <div class="text-center mt-3"><button type="submit">Send Message</button></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-form">
                                <div class="contact-box">
                                    <h4><img src="static/icons/bootstrap-icons-1.9.0/map.svg" alt=""> Address</h4>
                                    <p>Jl.MANCHESTER UNITED <br> LONDON <br> INGGRIS</p>
                                </div>
                                <div class="contact-box">
                                    <h4><img src="static/icons/bootstrap-icons-1.9.0/clock.svg" alt=""> Shop Hours</h4>
                                    <p>SENIN - SABTU: 8 AM to 10 PM </p>
                                </div>
                                <div class="contact-box">
                                    <h4><img src="static/icons/bootstrap-icons-1.9.0/phone.svg" alt=""> Contact</h4>
                                    <p>Phone: 089-660-649-778 <br> Email: dimznug22@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <!-- ***** Footer Start ***** -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/madara.bou.58/?locale=id_ID"><img
                                        src="static/icons/bootstrap-icons-1.9.0/facebook.svg" alt=""></a></li>
                            <li><a href=""><img src="static/icons/bootstrap-icons-1.9.0/twitter.svg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/dimm_nug/"><img
                                        src="static/icons/bootstrap-icons-1.9.0/instagram.svg" alt=""></a></li>
                            <li><a href="https://wa.me/6289660649778"><img
                                        src="static/icons/bootstrap-icons-1.9.0/whatsapp.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="brand">
                        <a href="/"><img src="static/assets/logo/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright <b>Kopi Kenangan.</b>

                            <br>Design by: <b>Dimas Anugrah P</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** End Footer ***** -->


    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="static/bootstrap/css/main.js"></script>



</body>

</html>